@{
  Layout = "_Layout";
}
@using SweetSavory.Models
@model SweetSavory.Models.Treat

<h4>Add a New Treat</h4>

@using (Html.BeginForm())
{
    @Html.Label("Treat Name:")
    @Html.TextBoxFor(model => model.TreatName)
    @Html.Label("Treat Rating:")
    @Html.DropDownList("Rating")

    <input type="submit" value="Add new Treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Treats", "Index")</p>